.DS_Store

*.pdb
*.suo
*.swp
*.ignore
*.user
*.Publish.xml
*.pubxml
*.vs

*.dbmdl
*.tickle

**/node_modules
**/stats

.sass-cache
.idea
.vscode

secureSettings.config
connectionStrings.config


**/bin
**/obj
**/packages

/.vs
npm-debug.log
**/npm-debug.log.*
*.bak

**/*.userprefs
